.Wrapper{
  display: flex;

  width: 600px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px ;
}

.bntAndTime{
  height: 50px;
  display: block;
  position: relative;

  .bnt{
    background: #cccccc;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
  }

  .time{
    display: block;
    padding: 5px;
  }


}

.element{
  width: 110px;
  font-size: 15px;

}