.Wrapper{
  display: flex;
  width: 600px;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px ;
}

.bntAndTime{
  height: 50px;
  display: block;
  position: relative;

  .bnt{
    background: #cccccc;
    padding: 5px 10px;
    border-radius: 15px;
  }

  .time{
    display: block;
    padding: 5px;
  }
}